.app-item1[class]{
    background: linear-gradient(50deg,#f59e99,#e91e63);
    color: white;
}
.app-item2[class]{
    background: linear-gradient(50deg,#ff9e80,#d50000);
    color: white;
}
.app-item3[class]{
    background: linear-gradient(50deg,#c5d429,#2e7d32);
    color: white;
}
.app-item4[class]{
    background: linear-gradient(50deg,#ffd86f,#ff7043);
    color: white;
}
.app-item6[class]{
    background: linear-gradient(50deg,#8ef9fe,#263238);
    color: white;
}
.app-item7[class]{
    background: linear-gradient(50deg,#fa9151,#5d4037);
    color: white;
}
.app-item8[class]{
    background:linear-gradient(50deg,#ffba3a,#e65100);
    color: white;
}
.app-item9[class]{
    background: linear-gradient(50deg,#ff6ec4,#7873f5);
    color: white;
}
.app-item5[class]{
    background: linear-gradient(50deg,#2ec6ff,#303f9f);
    color: white;
}