.App-logo1 {
    animation: App-logo-spin infinite 5s linear;
    height: 50px;
  }
  
.options-icon {
    position: fixed;
    top: 120px;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.7);
    color: #fff;
    cursor: pointer;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }